.git
.devcontainer
.github
.svelte-kit
.vscode
build
data
img
node_modules
prisma/migrations
prisma/seed.ts
sql
test-results
tests
tests-examples
.env.example
.eslint*
.git*
.prettier*
docker-compose.yml
Dockerfile*
playwright.config.ts
README.md
*.log