main {
	margin: 0 auto;
	max-width: 1024px;
	width: 95%;

	/* debug */
	/* border: 2px solid red; */
}

ion-icon {
	visibility: inherit;
	vertical-align: middle;
	font-size: larger;
}

/* In the case of button text with an icon */
button > span {
	vertical-align: middle;
}

input[type='text'],
input[type='url'],
textarea {
	border-radius: 0.25rem;
}

input[type='text']:focus,
input[type='url']:focus,
textarea:focus {
	background-color: rgb(243, 244, 246);
	outline: 1px solid blue;
}
