main {
	margin: 0 auto;
	max-width: 1024px;
	width: 95%;

	/* debug */
	/* border: 2px solid red; */
}

ion-icon {
	visibility: inherit;
	vertical-align: middle;
}

/* In the case of button text with an icon */
button > span {
	vertical-align: middle;
}
